.Main-content
  .Main-content__top
    .Group-name
      %p.name test
      %p.menber Menber:name
    .Edit-btn
      = link_to 'Edit', '#',class: "Editlink"
  .Main-content__center
    .Comment-name
      %p.name masa
      %p.time 2019/11/20(wed)17:43:01
    .Comment-text
      %p.message おはよう！
    .Comment-name
      %p.name minami
      %p.time 2019/12/23(mon)18:53:01
    .Comment-text
      %p.message こんにちは！
    .Comment-name
      %p.name masa
      %p.time 2019/12/31(fri)23:43:01
    .Comment-text
      %p.message こんばんは！
      
  .Main-content__bottom
    .Form
      .Form__input
        %input.Form__input__text{"placeholder": "type a message", "type": "text"}
        %label.box-image
          = icon('fas', 'image')
          %input.Hidden{type: "file"}
      %input.Form__submitbtn{"value": "Send", "type": "submit"}
