.Side-contents
  .Side-content__top
    .Top-text
      .Text-name 
        masa
      .Text-icon
        = link_to "#", class: "Text-icon__btn" do
          = icon('far', 'edit')
        = link_to "#", class: "Text-icon__btn" do
          = icon('fas', 'cog')
