* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  height: 100vh;
}

.Side-content{
  background-color: #2f3e51;
  width: 300px;
  &__top{
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    .Top-text{
      font-size: 16px;
      color: white;
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .Text-icon{
        width: 60px;
        .Text-icon__btn{
          color: #ffffff;
          padding-left: 5px;
          float:right;
          text-decoration: none;
        }
      }
    }
  }
  &__bottom{
    text-decoration: none;
    .Text-bottom{
      padding: 20px 20px 40px 20px;
      &__mg{
        text-decoration: none;
        color: #ffffff;
      }
      &__group{
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__message{
        font-size: 11px;
      }
    }
  }
}

.Main-content{
  width: calc(100vw - 300px);
  &__top{
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    .Group-name{
      padding: 30px 0 0 40px;
      font-size: 20px;
      .name{
        padding: 20px 0 15px 0;
        color: #333333;
        .menbarlist{
          font-size: 12px;
          color: #999999;
          display: flex;
          .menbar{
            list-style: none;
            padding-left: 5px;
          }
        }
      }
    }
    .Edit-btn{
      border: 1px solid #38aef0;
      margin: 28px 40px;
      width: 72px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      .Editlink{
        text-decoration: none;
        color: #38aef0;
        padding: 0 40px;
      }
    }
  }
  &__center{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 35px 0 0 40px; 
    .Comment-name{
      display: flex;
      padding-bottom: 12px;
      .Name{
        color: #333333;
        font-size: 16px;
      }
      .Time{
        color: #999999;
        font-size: 12px;
        padding-left: 5px;
      }
    }
    .Comment-text{
      color: #434A54;
      font-size: 14px;
      padding-bottom: 46px;
    }
  }
  &__bottom{
    display: flex;
    align-items: bottom;
    height: 90px;
    background-color: #d2d2d2;
    .Form{
      width: 100%;
      padding: 0 25px;
      display: flex;
      align-items: center;
      &__input{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        position: relative;
          .Form__inputContent{
            padding: 0 40px 0 10px;
            height: 50px;
            width: 100%;
            position: absolute;
            border: none;
          }
          .fa-image {
            line-height: 1px;
            font-size: 25px;
            right: 10px;
            position: absolute;
          }
      }
      .Hidden{
        display: none;
      }
      &__submit{
        background-color: #38aef0;
        color: #ffffff;
        font-size: 16px;
        margin-left: 15px;
        padding: 0 30px;
        height: 50px;
        border: none;
      }
    }
  }
}